@inherits LayoutComponentBase
@inject CookieThemeService CookieThemeService

<RadzenComponents @rendermode="InteractiveServer" />
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <RadzenBody Expanded="true">
            <article class="content px-4">
                @Body
            </article>
        </RadzenBody>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>